.navbar {
    background: linear-gradient(130deg, #231a6f, #0f054c); 
    
    .navbar-brand{
        font-weight: bold;
    font-size: 24px;
    color: #ffffff;
    }
    .navbar-nav{
        .nav-link{
            padding: 5px 20px;
            color: #ffffff;
            text-align: center;
            text-transform: uppercase;
            border-radius: 5px;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
            font-weight: 600;
            
        }
    }
}